<ion-app>
  <ion-menu contentId="main-content" menuId="m1">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu Principal</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-menu-toggle>
        <a
        class="bg-[#008b8b] text-white p-2 m-2 rounded-md hover:bg-[#00b3b3] hover:text-black active:bg-[#00b3b3] active:text-black"
          *ngFor="let item of menuItems"
          [routerLink]="[item.url]"
          style="display: flex; flex-direction: column; text-decoration: none;"
        >
          {{ item.title }}
        </a>
      </ion-menu-toggle>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      Tap the button in the toolbar to open the menu.
    </ion-content>
  </div>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
